extends layout

block content
 div(class='row')
    div(class="col-sm-12")
        br
        div(class="panel panel-danger")
            div(class="panel-heading") Game :&nbsp;
                span
                    select(type='text',id='game-name',class="form-control input-sm game-selection")
                        each g in games
                            option(value=g)=g
                span &nbsp; 
                    button(type="button",id='game-run', class="btn btn-xs btn-danger") Run
                span &nbsp; 
                    button(type="button",id='game-guide', class="btn btn-xs btn-danger") Guide
            div(class="panel-body")
              div(class="panel panel-primary question-panel")
                div(class="panel-heading")
                    span(id="question-count") Q:
                    button(type="button",id='result', class="btn btn-xs btn-success pull-right") Result
                    button(type="button",id='next-q', class="btn btn-xs btn-danger pull-right ") Next
                div(class="panel-body",id="n-question")
                    h2(class='text-danger') Your Topics is here :)
              div(class="panel panel-danger")
                div(class="panel-heading") Timer:
                div(class="panel-body")  
                    div(class='your-clock')             
    
    script(src='/javascripts/gameboard.js')
    script(type='text/javascript').
        $(document).ready(function(){
           var g=new gameBoard();
           g.init();
           window.board = g;
        });
       
    